.App {
  display: grid;
  place-content: center;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}

button {
  margin-left: 5px; 
  height: 2rem;
  background-color: white;
}

.selected {
  color: white;
  background-color: gray;
}

.portfolio{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
 gap: 10px;
}

.portfolio__project{
  width: 1fr;
}